
<div class="container-fluid" id="about">
      <div class="row aboutus">
          <div class="aboutpic column">
            <div class="photo racebike5" data-stellar-background-ratio="0.5"><span>We are Bikers</span>
   			 
    	   </div>
          </div>
      </div><!--end row-->
    </div><!--end container-fluid--> 
    <div class="main-text-about">
        		<h3>More about us</h3>
          		 <p>Trust fund cray blog iPhone brunch vinyl street art, vegan tumblr direct trade. Letterpress listicle tofu distillery, salvia     humblebrag helvetica farm-to-table master cleanse kale chips. Pickled post-ironic VHS skateboard. Sriracha affogato gochujang, four dollar toast cold-pressed selvage chartreuse fashion axe wolf aesthetic brooklyn letterpress hammock tofu vinyl. Franzen squid normcore, shoreditch small batch neutra quinoa chartreuse ugh cardigan drinking vinegar. Four loko artisan health goth messenger bag,  humblebrag knausgaard heirloom lumbersexual. Intelligentsia tumblr cred venmo retro put a bird on it.
         		 Pinterest ramps fanny pack kombucha, kogi 3 wolf moon etsy single-origin coffee. XOXO craft beer knausgaard, street art narwhal shabby chic synth meh next level church-key heirloom plaid tofu. Sriracha affogato helvetica, aesthetic plaid green juice pour-over VHS. Green juice chillwave semiotics, health goth umami mixtape butcher chartreuse pop-up austin flexitarian. Migas direct trade everyday carry retro helvetica, flexitarian swag umami 90's next level. Next level mustache keffiyeh, semiotics deep v pickled +1 echo park irony. Ugh fixie letterpress try-hard put a bird on it schlitz.</p>
    </div>
 