// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main {
	margin-top: 14em;
	text-align: center;
}

.main h2 {
	padding-bottom: 5em;
	
}